<nav class="navbar navbar-expand-md navbar-light">
    <div class="logo">
        <a href="/index.html"><img src="/img/sign.png" class="site-logo"></img></a>
    </div>
    <button type="button" class="nav-switch navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
            <a href="/index.html" class="nav-item nav-link">Portfolio</a>
            <a href="/about.html" class="nav-item nav-link">About</a>
            <a href="/contact.html" class="nav-item nav-link">Contact</a>
        </div>
    </div>
</nav>