<section class="page-section related-projects">
    <div class="container">
        <h3 class="my-4">Recent Projects</h3>

        <div class="row">
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="other-project-container">
                    <a href="#" class="pi-style2 other-project-thumb">
                        <img src="http://placehold.it/500x500">
                    </a>
                   
                </div>
                Project 1 Caption
            </div>

            <div class="col-md-3 col-sm-6 mb-4">
                <div class="other-project-container">
                    <a href="#" class="pi-style2 other-project-thumb">
                        <img src="http://placehold.it/500x500">
                    </a>
                   
                </div>
                Project 2 Caption
            </div>

            <div class="col-md-3 col-sm-6 mb-4">
                <div class="other-project-container">
                    <a href="#" class="pi-style2 other-project-thumb">
                        <img src="http://placehold.it/500x500">
                    </a>
                   
                </div>
                Project 3 Caption
            </div>

            <div class="col-md-3 col-sm-6 mb-4">
                <div class="other-project-container">
                    <a href="#" class="pi-style2 other-project-thumb">
                        <img src="http://placehold.it/500x500">
                    </a>
                   
                </div>
                Project 4 Caption
            </div>
        </div>
    </div>
</section>