<section class="page-section related-projects">
    <div class="container">
        <!-- Related Projects Row -->
        <h3 class="my-4">Other Projects</h3>

        <div class="row">

            <div class="col-md-3 col-sm-6 mb-4">
                <a href="#" class="portfolio-item-no-popup pi-style2 set-bg " data-setbg="http://placehold.it/500x500">
                    <div class="pi-inner">
                        <h2>View</h2>
                    </div>
                </a>
            </div>

            <div class="col-md-3 col-sm-6 mb-4">
                <a href="#" class="portfolio-item-no-popup pi-style2 set-bg " data-setbg="http://placehold.it/500x500">
                    <div class="pi-inner">
                        <h2>View</h2>
                    </div>
                </a>
            </div>

            <div class="col-md-3 col-sm-6 mb-4">
                <a href="#" class="portfolio-item-no-popup pi-style2 set-bg " data-setbg="http://placehold.it/500x500">
                    <div class="pi-inner">
                        <h2>View</h2>
                    </div>
                </a>
            </div>

            <div class="col-md-3 col-sm-6 mb-4">
                <a href="#" class="portfolio-item-no-popup pi-style2 set-bg " data-setbg="http://placehold.it/500x500">
                    <div class="pi-inner">
                        <h2>View</h2>
                    </div>
                </a>
            </div>
        </div>
        <!-- /.row -->
    </div>
</section>